body {
	margin: 0;
	padding: 0;
	background: #ffe;
	font-size: 12px;
	overflow: auto
}
#mainDiv {
	width: 100%;
	height: 100%
}
#loveHeart {
	float: left;
	width: 670px;
	height: 625px
}
#garden {
	width: 100%;
	height: 100%
}
#elapseClock {
	text-align: right;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px
}
#words {
	font-family: "sans-serif";
	width: 505px;
	font-size: 22px;
	color: #666
}
#messages {
	display: none
}
#elapseClock .digit {
	font-family: "digit";
	font-size: 36px
}
#loveu {
	padding: 5px;
	font-size: 22px;
	margin-top: 80px;
	margin-right: 120px;
	text-align: right;
	display: none
}
#loveu .signature {
	margin-top: 10px;
	font-size: 20px;
	font-style: italic
}
#code {
	float: left;
	width: 440px;
	height: 400px;
	color: #333;
	font-family: "Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";
	font-size: 12px
}
#code .string {
	color: #2a36ff
}
#code .keyword {
	color: #7f0055;
	font-weight: bold
}
#code .placeholder {
	margin-left: 15px
}
#code .space {
	margin-left: 7px
}
#code .comments {
	color: #3f7f5f
}
#copyright {
	margin-top: 10px;
	text-align: center;
	width: 100%;
	color: #666
}
#errorMsg {
	width: 100%;
	text-align: center;
	font-size: 24px;
	position: absolute;
	top: 100px;
	left: 0
}
#copyright a {
	color: #666
}

ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
ul#navigation li {
    width: 100px;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 70px;    
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
ul#navigation .home a{
    background-image: url(../images/home.png);
}
ul#navigation .about a      {
    background-image: url(../images/about_us.png);
}

ul#navigation .articles a   {
    background-image: url(../images/articles.png);
}
ul#navigation .photos a     {
    background-image: url(../images/camera.png);
}
ul#navigation .sweet_talk a     {
    background-image: url(../images/sweet_talk.png);
}
ul#navigation .music a     {
    background-image: url(../images/music.png);
}

